<div class="col-md-12">
  <h1>Pets</h1>
  <div class="box">
    <div class="container-fluid">
      <div class="row">
          <h2>Todos Pets</h2>
          <%= render @pets %>
      </div>
    </div>
  </div>
</div>
