<div class="col-md-12">
    <div class="box">
    <div class="container">
      <h1>Pets</h1>
      <div class="row">
        <% if @city %>
        <h2>Filtrando Pets de <%= @city %></h2>
        <% else %>
        <h2>Pets</h2>
        <% end %>
        <%= render @pets %>
      </div>
    </div>
  </div>
</div>
