<h1>Sua solicitação de adoção foi registrada e será analisada!</h1>
<br>
Dados da adoção:
<%= @adoption.pet.name %>
<%= @adoption.pet.ong.name %>
<%= @adoption.pet.ong.phone %>
<%= @adoption.status %>
