<div class="col-xs-4 col-md-4">
  <h5><%= link_to event.name, event %></h5>
  <dl>
      <dt>Endereço</dt>
      <dd><%= event.address %></dd>
      <dt>Data e Hora</dt>
      <dd><%= friendly_date event.datetime %></dd>
  </dl>
</div>
