<article>
    <h1><%= @event.name %></h1>
    <dl>
      <dt>ONG</dt>
      <dd><%= @event.ong.name %></dd>
      <dt>Endereço</dt>
      <dd><%= @event.address %></dd>
      <dt>Data e Hora</dt>
      <dd><%= friendly_date @event.datetime %></dd>
    </dl>
</article>
