<div class="col-md-12">
  <div class="box">
    <div class="container">
      <h1><%= @event.name %></h1>
      <div class="row">
        <article>
            <dl>
              <dt>ONG</dt>
              <dd><%= @event.ong.name %></dd>
              <dt>Endereço</dt>
              <dd><%= @event.address %></dd>
              <dt>Data e Hora</dt>
              <dd><%= friendly_date @event.datetime %></dd>
            </dl>
        </article>
      </div>
    </div>
  </div>
</div>
