<div class="bs-callout bs-callout-danger">
  <h3><span class="glyphicon glyphicon-info-sign"></span></h3>
  <hr>
  <!-- Sobre a ONG -->
    <p>
       <%= @ong.description %>
    </p>
    <br>
    <p>
      <h5>Dados mensais sobre a <%= @ong.friendly_name %>:
        <br>
        <ul class="ul_destac">
          <li>
            Estima-se que gasta cerca de <%= @ong.estimate_dogs_food_month.to_s %>.
          </li>
        </ul>
    </p>
    <% if ong_admin?(@ong) %>
      <%= link_to 'Promover doação de ração', '#', class: "btn btn-primary" %>
    <% end %>

</div>
