<div class="col-md-12">
  <div class="box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <% if @city %>
          <h2>Filtrando ONGs de <%= @city %></h2>
          <% else %>
          <h2>Todas as ONGs</h2>
          <% end %>

          <% if @ongs.count > 0 %>
            <section id="ongs">
                  <% @ongs.each do |ong| %>
                <div class="ong">
                  <h2><%= link_to ong.name, ong %></h2>

                </div>
                <% end %>
            </section>
          <% else %>
            <p class="alert alert-warning">
              Nenhuma ONG encontrada para esta cidade
            </p>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
