<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Início', root_path %>
  </li>
  <li class="breadcrumb-item active">
    Quem somos
  </li>
</ol>
<h3>Quem somos</h3>
<hr>
<p>
O projeto nasce do amor e gratidão aos animais, vindo de alguém que sabe todos os benefícios que esses seres tão grandiosos trazem para nossas vidas.
Flavio Avila, criador do projeto ACEG, é um amante do mundo animal, segundo ele, nunca viveu um ano se quer sem ter um pet ao seu lado.</p>

<blockquote>
“É incrível a disposição e dedicação que esses animais desprendem a nós, e sempre querem tão pouco, na maioria das vezes, basta estender a mão até eles, e verá lambidas e uma abanação de rabo frenética, de um ser que só lhe pede amor, carinho e presença, eles são capazes de mudar tudo…”
</blockquote>

<p>Consiste basicamente em 2 pontas, <mark>ONG's</mark> e <mark>amantes de pet's</mark> , ajudamos as ONG's a melhorar sua estrutura levando funcionalidade relevantes para isso, e trazemos interessados em <mark> adoção de pet's</mark> , fechando um ciclo feliz para todos os envolvidos.</p>

<p>Acompanhando as redes sociais, conseguimos ver um número grande de pessoas afins de ajudar na causa animal, e cada um do seu jeito, mas sempre com boas intenções, é incrível a quantidade de compartilhamentos pedindo ajuda, doações, campanha para ajudar ONG’s, animais a procura de um lar…

Então veio a sacada, acreditamos que toda e qualquer ONG criada, tenha um único propósito, salvar e levar os pet’s ao melhor lar possível.</p>

<p>Muitas ONG’s se perdem na administração, considerando a demanda de entrada de animais e pouca vasco de adoção dos animais, fora os custos para se manter mensalmente tal entidade, assim, muitas acabam deixando os animais em situação tão ruim quanto a encontrada, a ideia, é fortalecer!</p>

<p>Entendemos que dar visibilidade do que uma ONG suporta e precisa, já é um caminho…
Ajudar em uma divulgação estruturada em campanhas de adoção, doação de ração, apadrinhamento, melhor distribuição de animais dentro das ONG’s, aproximar mais uma ONG da outro, afinal, se unirmos forças e compartilharmos estrutura, e cada um puder aprender o que cada uma faz de melhor, todos crescem, e quem ganha, são os pet’s necessitados que vivem sem nenhuma qualidade de vida.</p>

<p>Pelo ponto de vista, “amante de animais”, quer adotar, conhece alguém que gostaria de adotar, aqui você pode buscar por animais com características que você prefira, usando toda base de animais das ONG’s cadastradas.</p>

<p>contando com outras funcionalidades, que todo amante de animais gostaria de ter, por exemplo, ao ver um cachorro na rua, desamparado, você sabe o que fazer? provavelmente fica se perguntando o que posso fazer, agora, você pode pegar o celular, bater uma foto do cachorro, fazer um breve cadastro e será enviada para uma fila de resgate, onde as ONG’s mais próximas do local e com condição física de amparar o animal, serão alertadas afim de promover o resgate.</p>
<hr>
<p class="lead">A gente fortalece as ONG’s e unimos forças para suprir melhor a demanda envolvendo casos de animais carêntes, assim todo mundo ganha :)</p>
