<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Início', root_path %>
  </li>
  <li class="breadcrumb-item active">
    Quem somos
  </li>
</ol>
<h3>Quem somos</h3>
<hr>
<p>
O projeto nasce do amor e gratidão aos animais, vindo de alguém que sabe todos os benefícios que esses seres tão grandiosos trazem para nossas vidas.
Flavio Avila, criador do projeto <mark>AdotarPets</mark>, é um amante do mundo animal, nunca viveu um ano sem ter um pet ao seu lado.</p>

<blockquote>
“É incrível a disposição e dedicação que esses animais desprendem a nós, e sempre querem tão pouco, na maioria das vezes, basta estender a mão até eles, e verá lambidas e uma abanação de rabo frenética, de um ser que só lhe pede amor, carinho e presença, eles são capazes de mudar tudo…”
</blockquote>

<p>O projeto consiste basicamente em 2 pontas, <mark>ONG's</mark> e <mark>amantes de pet's</mark>, ajudamos as ONG's a melhorar sua estrutura levando funcionalidade relevantes para isso, e trazemos interessados em adoção de pet's, fechando um ciclo feliz.</p>

<p>
Acreditamos que toda e qualquer ONG criada, tenha um único propósito, salvar e levar os pet’s ao melhor lar possível, essa é a premissa base dos que querem aderir ao sistema.
</p>

<p>
Ao utilizar o AdotarPets como ONG, você passa a ter acesso a recursos úteis como:
<ul>
  <li>
    Promove sua ONG e o trabalho prestado, de forma fácil e objetiva com informações relevantes;
  </li>
  <li>
    Fácil compartilhamento de pet's para  promover a adoção;
  </li>
  <li>
    Promove de forma fácil campanhas de doação de ração;
 </li>
  <li>
    Contato direto com todas as ONG's cadastradas no sistema, para compartilhamento de recursos, troca de informações em geral;
  </li>
  <li>
    Estimativas automaticas geradas pelo sistema, como por exemplo, gasto mensal de ração;
  </li>
  <li>
    Auxilia na melhoria de processos dentro da ONG;
  </li>
  <li>
    Ajuda na eficiência, mais automatização de processos, mais tempo para gastar com o que importa.
  </li>
</ul>
</p>
<p>E tudo sem nenhum gasto para a ONG</p>

<p>
  Pelo ponto de vista, “amante de animais”, conta com recursos como:
  <ul>
    <li>
      Busca por caracteristicas do pet;
    </li>
    <li>
      Estimativa automatica de dados como gasto mensal de ração para um determinado pet;
    </li>
    <li>
      Resgaste do bem, ao ver um animal em situação de perigo, pode emitir um cadastro, que notifica todas as ong's no sistema próximo ao acontecimento e gerar uma possível ação de resgate;
    </li>
    <li>
      Pode ajudar compartilhando em sua rede social os pet's que as ong's cadastram, afinal, como bom amante de pet, que tal abraçar a causa e ajuda-los a encontrar um lar :)
    </li>
  </ul>
</p>

<p>Acima de tudo, queremos construir um ambiente sólido e confiável onde o que importa, é fazer um pet feliz.
Não importa a quantidade, se conseguir fazer com que um pet chegue à um lar, tudo já terá valido a pena :)
</p>
